/* RESET */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

a:active,
a:focus {
	outline: none;
}

input,
textarea {
	outline: none;
}

input:active,
textarea:active {
	outline: none;
}

:focus {
	outline: none;
}

textarea {
	resize: none;
}

textarea {
	resize: vertical;
}

textarea {
	resize: horizontal;
}

button:active,
button:focus {
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0 !important;
}

::selection {
	background-color: transparent;
}

/* FONTS */
@font-face {
	font-family: 'SFUIText';
	src: asset-url('/app/font/SFUIText-Regular.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'SFUIText';
	src: asset-url('/app/font/SFUIText-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'SFUIProDisplay';
	src: asset-url('/app/font/SFProDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'SFUIProDisplay';
	src: asset-url('/app/font/SFProDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
}

/* BASE STYLES */
html {
	width: 100vw;
	height: 100vh;
	background-color: #282c34;
}

body {
	font-family: "SFUIText", sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.7;
}
